<!DOCTYPE html>
<html lang="en" ng-app="layout" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <title>stjärnsvenska</title>
    <meta name="description" content="stjärnsvenska">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- add javascripts -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <header>
        <div class="wrap">
            <!-- logo -->
            <a href="#!"><img class="logo" style="width: 162px;"src="images/nav-logo.png" /></a>
            <!-- navigation menu -->
             <nav>
                
                <ul>
                    <li style="margin-right:0px"><a id="logoutbtn" class="active"  ng-click="ngclick()">Logout</a></li>
                </ul>
            </nav>

               <nav style="padding-right: 521px"> 
                   <ul id= "nav1">
                    <li><a id="librbtn" href="#!/" ng-class="{activeSmall:part == 'library'}" >Library</a></li>
                    <li><a id="pagesbtn" href="#!/privacy" ng-class="{activeSmall:part == 'mypages'}">My Pages</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- contact us form -->
    <div class="paddRow contactRow">
        <div class="wrap">
            <div class="head">Contact Us</div>
            <img class="close" src="images/close.png" ng-click="closeForm()" />
            <form ng-submit="save()" class="contactForm" name="form" ng-hide="loaded">
                <input class="input" required="required" type="text" name="name" placeholder="your name" ng-model="message.name" />
                <input class="input email" required="required" type="email" name="email" value="" placeholder="your email" ng-model="message.email" /><br />
                <textarea class="textarea" rows="5" required="required" placeholder="your message" ng-model="message.text" ></textarea>
                <button class="btn green">send message</button>
            </form>

            <!-- contact us form response messages -->
            <div ng-show="process" style="text-align:center">
                <img class="loader" src="images/loader.png" />
            </div>
            <div ng-show="success"><p>Your message has been sent, thank you.</p></div>
        </div>
    </div>

    <!-- main content -->
    <div style="position:relative">
        <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
    </div>

</body>
</html>